<h1 class="mt-4"> L'annonce <%= annonce.about %></h1>
<a href="javascript:history.go(-1);" class="btn btn-secondary">retour</a>
<p>Categorie : <%= annonce.Categorie %></p>
<p>Sous - Categorie : <%= annonce.SousCategorie %></p>
<p>About : <%= annonce.about %></p>

<div id="commentaire" class="form-group" >

<div id="Image">Image: <img src="<%= annonce.Image %>" height="400" width="400" /> </div>


</div id="comments">
      <% for(n in annonce.comments) {%>
        <p>
          <%= annonce.comments[n] %>
        </p>
      <% } %>

<h3> COMMENTAIRE</h3>
        <form action="/users/<%=annonce._id%>/comments" method="POST">
        <label for="Commentaire">Donne nous ton avis :)</label>
            <textarea class="form-control" type="Commentaire"
            id="Commentaire"
            name="Commentaire"
            placeholder="commentaire" rows="4"></textarea>
            <button type="submit" class="btn btn-success"><i class="far fa-comments"></i></button>
        </form>
        
    